@media screen and (max-width: 90em) {
  .form {
    margin-top: 8rem;
  }
}

@media screen and (max-width: 64em) {
  html {
    font-size: 56.25%;
  }
}

@media screen and (max-width: 55em) {
  html {
    font-size: 50%;
  }

  .form {
    padding: 4.8rem;
  }
}

@media screen and (max-width: 41em) {
  html {
    font-size: 43.75%;
  }

  .img-container {
    display: none;
  }

  .container {
    grid-template-columns: 1fr;
  }
}
